{% load static %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"  aria-label="Slide 2" ></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '/img/c2.jpg' %}" class="d-block w-100" alt="Car 1" height="650px" width="100%">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Welcome to GetSetGo Car Rentals!</h1>
            <p class="opacity-75" style="font-size: medium;">Whether you're planning a road trip, need a rental for business travel, or just want to drive in style, GetSetGo has the perfect car for you. Our mission is to make your journey smooth, comfortable, and affordable.</p>
            {%if user.is_authenticated%}
            <p><a class="btn btn-lg btn-primary" href="vlist">Book today</a></p>
            {%else%}
            <p><a class="btn btn-lg btn-primary" href="signup">Book today</a></p>
            {%endif%}
          </div>
        </div>
      </div>

      
      <div class="carousel-item ">
        <img src="{% static '/img/c3.jpg' %}" class="d-block w-100" alt="Car 2"  height="650px" width="100%">
        <div class="container">
          <div class="carousel-caption">
            <h1>Why Choose Us?</h1>
            <p style="font-size: medium;">
                Wide Range of Vehicles: From compact cars to luxury sedans and spacious SUVs, we have a vehicle for every need.
                Affordable Rates: Enjoy competitive pricing without compromising on quality or service.
                Easy Booking Process: Our intuitive online booking system allows you to rent a car in just a few clicks.
                Flexible Rental Options: Daily, weekly, and monthly rental options to suit your schedule.
                24/7 Customer Support: We're here to help anytime, anywhere.</p>
          </div>
        </div>
      </div>

    
      <div class="carousel-item">
        <img src="{% static 'img/c4.jpg' %}" class="d-block w-100" alt="Car 3" height="650px" width="100%">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Our Commitment to You</h1>
            <p style="font-size: medium;">Your satisfaction is our top priority. We go the extra mile to ensure that every rental experience is seamless and enjoyable. From the moment you book until you return the car, we’re with you every step of the way.</p>
          </div>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
